html {
  text-align: center;
  font-family: "Times";
}
body {
  background-color: skyblue;
  font-size: 20px;
}

.KochImg {
  width: 700px;
  height: 300px;
}

.OgSierImg {
  width: 500px;
  height: 400px;
}

.SierImg {
  width: 500px;
  height: 400px;
}
li {
  width: fit-content;
  margin-inline: auto;
heading {
  font-weight: bold;
  font-size: 100px;
}
