html {
  text-align: center;
  border: 1px solid white;
  font-family: "Times";
}
body {
  background-color: purple;
  font-size: 15px;
}

img {
  width: 100px;
  height: 100px;
}
h1 {
  color: white;
  font-weight: bold;
}
