* {
  text-align: center
  /*border: solid
   font-family: "Times"*/
}
body {
  background-color: purple
  /*font-size: 15px*/
}

img {
  width="500" height="200"
}
h1 {
  color: white
  /*font-weight: bold*/
}
